/*CSS for band template*/
*{
    margin: 0;
    padding: 0;
}
#nav-head{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   background: #000;
   
}
#nav-head::after{
    content: '';
    display: block;
    clear: both;
}


.row1{
    width: 100%
    background: #111;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.a-href{
    border: none;
    padding: 15px 30px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 0px;
    font-family: sans-serif;
    font-size: 15px;
    color: #FFF;
    font-weight: 500;
}
.a-href:link, .a-href:visited{
    color: #FFF;
    text-decoration: none;
}
.a-href:focus, .a-href:hover, .a-href:active{
    color: #000;
    text-decoration: none;
    background: #ABA;
}
.a-href.pull-right:focus, .a-href.pull-right:hover, .a-href.pull-right:active{
    color: #000;
    text-decoration: none;
    background: #D41;
}
.clearfix{
    clear: both;
}
.back-1{
    width: 100%;
    margin: 0px 0px;
    margin-top: 40px;
    padding: 0 0;
    
}
.container{
    padding: 50px 10px;
    margin: 0 auto;
    width: 810px;
}
.black-block{
    background: #000;
    margin: 70px 0;
}
.container h2{
    margin: 30px 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: sans-serif;
    font-weight: 200;
}
p{
    text-align: center;
    font-family: sans-serif;
    margin: 20px 0;
    padding: 0px;
}
.container p em{
    color: #AAA;
}

.para{
    word-spacing: 5px;
    font-size: 15px;
    color: #333;
    text-align: left;
    line-height: 1.2;
}
.block{
    padding: 10px 20px;
}
.block p{
    margin: 10px 0;
    margin-top: 30px;
    color: #333;
}
#photo-block1{
    width: 730px;
    margin: 0 auto;
}
.black-block h2{
    color: #FFF;
    font-size:28px;
}
.black-block p em{
    color: #AAA;
    font-size:17px;
}
#date-tickets p{
    border: solid 1px #AAA;
    border-bottom: none;
    margin: 0 0;
    padding: 10px;
    padding-left: 15px;
    text-align: left;
    background: #FFF;
    color: #777;
    font-size: 15px;
}
#date-tickets #bott{
    border-bottom: solid 1px #AAA;   
}
#date-tickets{
    margin: 40px 0;
}
#date-tickets p span{
    color: #FFF;
    margin-left: 20px;
    background: red;
    padding: 3px 5px;
}
#photo-block .photo-text{
    background: #FFF;
    margin: 0 10px;
    width: 250px;  
}
#photo-block{
    width: 810px;
    height: 430px; 
    margin: 0px;
}

.a-href2{
    border: none;
    padding: 10px 15px;
    text-transform: capitalize;
    text-decoration: none;
    margin: 15px;
    margin-top: 3px;
    font-family: sans-serif;
    font-size: 14px;
    color: #FFF;
    background: #000;
    font-weight: 500;
    display: inline-block;
}
.a-href2:link, .a-href2:visited{
    color: #FFF;
    text-decoration: none;
}
.a-href2:focus, .a-href2:hover, .a-href:active{
    color: #000;
    text-decoration: none;
    background: #ABA;
    cursor: pointer;
}
.below-text h4{
    margin-left: 15px;
    margin-top: 15px;
    font-family: sans-serif;
    color: #222;
    font-size: 15px;
}
.below-text p{
    color: #777;
    text-align: left;
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: 15px;
}
.below-text .blackp{
    color: #111;
    text-align: left;
    margin-left: 15px;
    font-size: 15px;
}
.black-block .container{
    padding: 90px 10px;
}
.white-block{
    background: #FFF;
}
.white-block2{
    margin: 20px 0;
    background: #FFF;
}
.white-block2 .container{
    padding: 0 10px;
}
.white-block2 p em{
    color: #888;
    font-size: 14px;
}
#contact-detail li{
    margin: 8px 40px;
    font-size: 18px;
    font-family: sans-serif;
}
.text{
    resize: none;
}
.first-form{
    margin: 10px;
    margin-right: 0;
    
}
input[type="text"], input[type="email"]{
    padding: 10px;
    font-size: 15px;
    padding-right: 0px;
    width: 184px;
    border: solid 1px #AAA;
}
input[type="text"]{
    margin-right: 5px;
}
input[type="email"]{
    margin-right: 0;
}
textarea{
    padding: 10px;
    margin: 10px;
    margin-top: 0px;
    margin-right: 0;
    width: 382px;
     font-size: 15px;
    border: solid 1px #AAA;
}
input[type="submit"]{
    padding: 10px 15px;
    margin: 0px;
}
#back-2{
    margin: 100px 0;
    margin-bottom: 70px;
}
.grey-block .container{
    padding: 0;
    padding-bottom: 70px;
}
.grey-block p{
    color: #777;
}
.grey-block a{
    color: #777;
    font-size: 14px;
}
.grey-block a:link , .grey-block a:visit{
    color: #777;
}

